<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='Create rally')"></head>
<body>
<!--/*@thymesVar id="event" type="pl.pazurkiewicz.oldtimers_rally.event.EventWriteModel"*/-->
<form th:action="@{/rally/create}" th:object="${event}"
      method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">
        <div th:replace="fragments/form_pieces :: defaultLanguageSelector (fieldName='defaultLanguage', label='Default language')"></div>
        <div th:replace="fragments/form_pieces :: classic (fieldName='url', label='Rally url:')"></div>
        <div th:replace="fragments/form_pieces :: possibleLanguage (fieldName='possibleLanguageSelector')"></div>

        <div class="m-3">
            <div class="form-group row">
                <table>
                    <thead>
                    <tr>
                        <th> Language</th>
                        <th> Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table" th:each="dictionaryEntry, index : *{name.dictionaries} ">
                        <td>
                            <label th:text="${dictionaryEntry.eventLanguage.language.code}"></label></td>
                        <td>
                            <label>
                                <input type="text" th:field="*{name.dictionaries[__${index.index}__].value}">
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div th:replace="fragments/form_pieces :: submitButton (title='Create')"></div>
    </div>
</form>
</body>
</html>
