<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='Edit crews')"></head>
<style>
    #dragArea {
        border: 1px solid #eee;
        width: 142px;
        min-height: 50px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

    #dragArea li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 120px;
    }
</style>
<body>

<form method="post" th:action="@{__${action}__/crews}" th:object="${crews}">

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-bord" th:if="*{crews.size()} > 0">
                    <h2>Crews</h2>
                    <div class="card card-bord" th:each="crew, info : *{crews}">
                        <table th:replace="fragments/form_pieces :: dictionaryFragment (labels=${ {'Language','Description'} },fieldNames=${ {'crews[__${info.index}__].description'} }, languages='event.eventLanguages')"></table>
                        <div th:replace="fragments/form_pieces :: classic (fieldName='crews[__${info.index}__].car', label='Car')"></div>
                        <div th:replace="fragments/form_pieces :: number (fieldName='crews[__${info.index}__].yearOfProduction', label='Year of production')"></div>
                        <div th:replace="fragments/form_pieces :: classic (fieldName='crews[__${info.index}__].driverName', label='Driver name')"></div>
                        <div th:replace="fragments/form_pieces :: number (fieldName='crews[__${info.index}__].phone', label='Phone number')"></div>
                        <div th:replace="fragments/form_pieces :: checkbox (fieldName='crews[__${info.index}__].acceptedReg', label='Accepted regulations:')"></div>
                        <div th:replace="fragments/form_pieces :: checkbox (fieldName='crews[__${info.index}__].acceptedRodo', label='Accepted RODO:')"></div>
                        <button class="btn btn-primary row-link links" name="delete" th:value="${info.index}"
                                type="submit">Delete
                        </button>
                    </div>
                </div>
                <div class="card card-bord">
                    <h3>Add new crew</h3>
                    <table th:replace="fragments/form_pieces :: dictionaryFragment (labels=${ {'Language','Description'} },fieldNames=${ {'newCrew.description'} }, languages='event.eventLanguages')"></table>
                    <div th:replace="fragments/form_pieces :: classic (fieldName='newCrew.car', label='Car')"></div>
                    <div th:replace="fragments/form_pieces :: number (fieldName='newCrew.yearOfProduction', label='Year of production')"></div>
                    <div th:replace="fragments/form_pieces :: classic (fieldName='newCrew.driverName', label='Driver name')"></div>
                    <div th:replace="fragments/form_pieces :: number (fieldName='newCrew.phone', label='Phone number')"></div>
                    <div th:replace="fragments/form_pieces :: checkbox (fieldName='newCrew.acceptedReg', label='Accepted regulations:')"></div>
                    <div th:replace="fragments/form_pieces :: checkbox (fieldName='newCrew.acceptedRodo', label='Accepted RODO:')"></div>

                    <div class="card card-bord" th:with="name=${'newCrew'}">
                        <input th:name="${name}+'.actualCategories'" type="hidden" value="">
                        <div>
                            <p>Actual</p>
                            <ul style="min-height: 50px" th:class="${name}+' dragArea'" th:id="${name}+'1'">
                                <li class="ui-state-default"
                                    th:each="x, info2 : *{newCrew.actualCategories}"
                                    th:pom="${x.id}"
                                    th:text="${x.name.getDictionary(#locale)}"
                                ></li>
                            </ul>
                        </div>
                        <div>
                            <p>Possible</p>
                            <input name="newCrew.possibleCategories" type="hidden" value="">
                            <ul style="min-height: 50px" th:class="${name}+' dragArea'" th:id="${name}+'2'">
                                <li class="ui-state-default"
                                    th:each="x, info2 : *{newCrew.possibleCategories}"
                                    th:pom="${x.id}"
                                    th:text="${x.name.getDictionary(#locale)}"
                                ></li>
                            </ul>
                        </div>

                        <script>
                            $(function () {
                                var s1 = '#[[${name}]]1';
                                var s2 = '#[[${name}]]2';
                                $(s1 + ", " + s2).sortable({
                                    connectWith: '.[[${name}]]'
                                }).disableSelection();
                            });
                        </script>
                    </div>

                    <button class="btn btn-primary row-link links" name="add"
                            type="submit">Add
                    </button>
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-primary" name="reload" th:text="Reset" type="submit"></button>
    <button class="btn btn-primary" th:text="Save" type="submit"></button>
</form>
<div class="card card-bord">
    <a class="btn btn-primary" th:href="@{__${action}__}">Back</a>
</div>
</body>
</html>

