<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='Edit crews')"></head>
<style>
    #dragArea {
        border: 1px solid #eee;
        width: 142px;
        min-height: 50px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

    #dragArea li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 120px;
    }
</style>
<body>

<form method="post" th:action="@{__${action}__/crews}" th:object="${crews}">

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-bord" th:if="*{crews.size()} > 0">
                    <h2>Crews</h2>
                    <div class="card card-bord" th:each="crew, info : *{crews}">
                        <table th:replace="fragments/form_pieces :: dictionaryFragment (labels=${ {'Language','Description'} },fieldNames=${ {'crews[__${info.index}__].crew.description'} }, languages='event.eventLanguages')"></table>
                        <div th:replace="fragments/form_pieces :: classic (fieldName='crews[__${info.index}__].crew.car', label='Car')"></div>
                        <div th:replace="fragments/form_pieces :: number (fieldName='crews[__${info.index}__].crew.yearOfProduction', label='Year of production')"></div>
                        <div th:replace="fragments/form_pieces :: classic (fieldName='crews[__${info.index}__].crew.driverName', label='Driver name')"></div>
                        <div th:replace="fragments/form_pieces :: number (fieldName='crews[__${info.index}__].crew.phone', label='Phone number')"></div>
                        <div th:replace="fragments/form_pieces :: checkbox (fieldName='crews[__${info.index}__].crew.acceptedReg', label='Accepted regulations:')"></div>
                        <div th:replace="fragments/form_pieces :: checkbox (fieldName='crews[__${info.index}__].crew.acceptedRodo', label='Accepted RODO:')"></div>
                        <div th:replace="fragments/form_pieces :: categoryTableFragment (fieldName='crews[__${info.index}__].categoryTable')"></div>
                        <button class="btn btn-primary row-link links" name="delete" th:value="${info.index}"
                                type="submit">Delete
                        </button>
                    </div>
                </div>
                <div class="card card-bord">
                    <h3>Add new crew</h3>
                    <table th:replace="fragments/form_pieces :: dictionaryFragment (labels=${ {'Language','Description'} },fieldNames=${ {'newCrew.crew.description'} }, languages='event.eventLanguages')"></table>
                    <div th:replace="fragments/form_pieces :: classic (fieldName='newCrew.crew.car', label='Car')"></div>
                    <div th:replace="fragments/form_pieces :: number (fieldName='newCrew.crew.yearOfProduction', label='Year of production')"></div>
                    <div th:replace="fragments/form_pieces :: classic (fieldName='newCrew.crew.driverName', label='Driver name')"></div>
                    <div th:replace="fragments/form_pieces :: number (fieldName='newCrew.crew.phone', label='Phone number')"></div>
                    <div th:replace="fragments/form_pieces :: checkbox (fieldName='newCrew.crew.acceptedReg', label='Accepted regulations:')"></div>
                    <div th:replace="fragments/form_pieces :: checkbox (fieldName='newCrew.crew.acceptedRodo', label='Accepted RODO:')"></div>
                    <div th:replace="fragments/form_pieces :: categoryTableFragment (fieldName='newCrew.categoryTable')"></div>

                    <button class="btn btn-primary row-link links" name="add"
                            type="submit">Add
                    </button>
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-primary" name="reload" th:text="Reset" type="submit"></button>
    <button class="btn btn-primary" th:text="Save" type="submit"></button>
</form>
<div class="card card-bord">
    <a class="btn btn-primary" th:href="@{__${action}__}">Back</a>
</div>
</body>
</html>

