<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='__#{crew}__ : __${crew}__')"></head>
<link rel="stylesheet" th:href="@{/static/css/global-settings.css}"/>
<link rel="stylesheet" th:href="@{/static/css/event.css}"/>
<link rel="stylesheet" th:href="@{/static/css/login-register.css}"/>
<link rel="stylesheet" th:href="@{/static/css/event.css}"/>
<link rel="stylesheet" th:href="@{/static/css/crew.css}"/>
<link rel="stylesheet" th:href="@{/static/css/footer.css}"/>
<body th:style="'background:url(' + ${event.mainPhoto} + ') no-repeat fixed center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;opacity: 0.9;color: #e9ecef;'">
<div class="container">
    <div class="col crew-number">
        <h3 class="back-button"><a class="text-white" th:href="@{/__${url}__}" th:text="#{back}"></a></h3>
        <h1 th:if="${crew.qrCode} != null" th:text="#{crew} + ': ' + ${crew.qrCode.number}"></h1>
    </div>
    <div class="col crew-title">
        <h2 class="title" th:text="${crew.car} + ' ' + ${crew.yearOfProduction}"></h2>
    </div>
    <div th:if="${crew.photo!=null}">
        <img alt="No photo" class="event-img" th:src="${crew.photo}">
    </div>
    <div th:if="${crew.photo==null}">
        <img alt="No photo" class="event-img" th:src="@{/static/assets/logo.svg}" style="filter: brightness(0) invert(1);">
    </div>

    <div class="col crew-title" style="display: unset; text-align: center">
        <h2 th:text="'Kierowca: ' + ${crew.driverName}"></h2>
        <h2 th:text="'Pilot: ' + ${crew.pilotName}"></h2>
        <h6 class="title" th:text="'Klub: ' + ${crew.clubName}"></h6>
        <h6 class="title" th:text="'Kategoria: ' + ${crew.categories[0]}"></h6>
    </div>

    <div class="crew-description" style="font-style: italic">
        <p th:text="${crew.description.getDictionary(#locale)}"></p>
    </div>

    <h4 class="styled-table-title" th:text="#{results.competitions}"></h4>
    <table class="styled-table">
        <thead>
        <tr>
            <th th:text="#{competition}"></th>
            <th th:text="#{results}"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="crc" type="pl.pazurkiewicz.oldtimers_rally.model.Score"*/-->
        <tr th:each="crc : ${crew.scores}">
            <td th:text="${crc.competition.name.getDictionary(#locale)}"></td>
            <th:block th:switch="${crc.competition.id}">
                <!--<div th:case="21">
                    <td th:text="'rocznik: ' + ${crc.additional1} + ' r'"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="22">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="23">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="24">
                    <td th:text="'czas: ' + ${crc.additional1} + ' s, liczba błędów: ' + ${crc.additional3}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="25">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="26">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="27">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="28">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="29">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="30">
                    <td th:text="'odległość 1: ' + ${crc.additional1} + ' cm, odległość 2: ' + ${crc.additional2} + 'cm'"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="31">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="32">
                    <td th:text="'czas: ' + ${crc.additional1} + ' s, liczba błędów: ' + ${crc.additional3}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="33">
                    <td th:text="'czy dobrze: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="34">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="35">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="36">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="37">
                    <td th:text="'odległość 1: ' + ${crc.additional1} + ' cm, odległość 2: ' + ${crc.additional2} + 'cm'"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="38">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="39">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="40">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="41">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="43">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="44">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="45">
                    <td th:text="'czas: ' + ${crc.additional1} + ' s, liczba błędów: ' + ${crc.additional3}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="46">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="49">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="50">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="51">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="52">
                    <td th:text="'czas: ' + ${crc.additional1} + ' s, liczba błędów: ' + ${crc.additional3}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="55">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="56">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="57">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="58">
                    <td th:text="'punkty karne: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="59">
                    <td th:text="'czy dobrze: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="60">
                    <td th:text="'godzina przyjazdu: ' + ${crc.additional1}"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="62">
                    <td th:text="'odległość 1: ' + ${crc.additional1} + ' cm, odległość 2: ' + ${crc.additional2} + 'cm'"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="63">
                    <td th:text="'odległość: ' + ${crc.additional1} + ' cm'"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>
                <div th:case="64">
                    <td th:text="'odległość: ' + ${crc.additional1} + ' cm'"
                        th:unless="${crc.isInvalidResult()}"></td>
                    <td th:if="${crc.isInvalidResult()}" th:text="#{result.invalid}"></td>
                </div>-->
            </th:block>
        </tr>
        </tbody>
    </table>

</div>
<footer class="footer">
    <p style="background: black" th:text="#{cookies}"></p>
</footer>
</body>
</html>

