<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='__#{crew}__ : __${crew}__')"></head>
<link rel="stylesheet" th:href="@{/static/css/global-settings.css}"/>
<link rel="stylesheet" th:href="@{/static/css/event.css}"/>
<link rel="stylesheet" th:href="@{/static/css/login-register.css}"/>
<link rel="stylesheet" th:href="@{/static/css/event.css}"/>
<link rel="stylesheet" th:href="@{/static/css/crew.css}"/>
<body th:style="'background:url(' + ${event.mainPhoto} + ') no-repeat fixed center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;opacity: 0.9;color: #e9ecef;'">
<div class="container">
    <div class="col crew-number">
        <h3 class="back-button"><a class="text-white" th:href="@{/__${url}__}" th:text="#{back}"></a></h3>
        <h1 th:if="${crew.qrCode} != null" th:text="#{crew} + ': ' + ${crew.qrCode.number}"></h1>
    </div>
    <div class="col crew-title">
        <h2 class="title" th:text="${crew.car} + ' ' + ${crew.yearOfProduction}"></h2>
    </div>
    <div th:if="${crew.photo!=null}">
        <img alt="No photo" class="event-img" th:src="${crew.photo}">
    </div>
    <div th:if="${crew.photo==null}">
        <img alt="No photo" class="event-img" style="filter: brightness(0) invert(1);"
             th:src="@{/static/assets/logo.svg}">
    </div>
    <div class="crew-description">
        <p th:text="${crew.description.getDictionary(#locale)}"></p>
    </div>
    <div class="col crew-title">
        <h2 class="title" th:text="${crew.driverName}"></h2>
    </div>
    <h4 class="styled-table-title" th:text="#{results.categories}"></h4>
    <table class="styled-table">
        <thead>
        <tr>
            <th th:text="#{categories}"></th>
            <th th:text="#{ranking.points}"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="crc" type="pl.pazurkiewicz.oldtimers_rally.model.CrewCategory"*/-->
        <tr th:each="crc : ${crew.categories}">
            <td th:text="${crc.category.name.getDictionary(#locale)}"></td>
            <td th:if="${crc.rankingPoints} != null" th:text="${crc.rankingPoints}"></td>
        </tr>
        </tbody>
    </table>

    <h4 class="styled-table-title" th:text="#{results.competitions}"></h4>
    <table class="styled-table">
        <thead>
        <tr>
            <th th:text="#{competition}"></th>
            <th th:text="#{calculate.points}"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="crc" type="pl.pazurkiewicz.oldtimers_rally.model.Score"*/-->
        <tr th:each="crc : ${crew.scores}">
            <td th:text="${crc.competition.name.getDictionary(#locale)}"></td>
            <td th:if="${crc.result} != null" th:text="${crc.result}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
