<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body class="border-box">

<div class="row" th:each="p : ${wrapper.special}">
    <!--    width 27%-->
    <!--    width 40%-->
    <div style="float: left; width: 40%; padding: 8px; border:1px solid black;position: relative" th:each="sp : ${p}"
         th:if="${sp} != null">
        <div style="width: 100%">
            <H4 style="position: absolute;bottom:2px;left: 2px " th:text="${sp.number}"></H4>
            <img alt="#" style="width:100%" th:src="'data:image/png;base64,' + ${sp.base64}"/>
        </div>
    </div>
</div>
</body>
</html>
