<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="defaultLanguageSelector (fieldName, label)">
    <div class="m-3">
        <div class="form-group row">
            <label>
                <b th:text="${label}"></b>
                <select th:field="*{__${fieldName}__.defaultLanguage}">
                    <option th:each="languages: *{__${fieldName}__.possibleLanguages}"
                            th:value="${languages.id}"
                            th:text="${languages.code}"></option>
                </select>
            </label>
            <ul>
                <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}" class="text-danger"></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="classic (fieldName, label)">
    <div class="m-3">
        <div class="form-group row">
            <label >
                <b th:text="${label}"></b>
                <input type="text" th:field="*{__${fieldName}__}" class="form-control"/>
            </label>
            <ul>
                <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}" class="text-danger"></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="number (fieldName, label)">
    <div class="m-3">
        <div class="form-group row">
            <label >
                <b th:text="${label}"></b>
                <input type="number" th:field="*{__${fieldName}__}" class="form-control"/>
            </label>
            <ul>
                <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}" class="text-danger"></li>
            </ul>
        </div>
    </div>
</div>


<div th:fragment="password (fieldName, label)">
    <div class="m-3">
        <div class="form-group row">
            <label >
                <b th:text="${label}"></b>
                <input type="password" th:field="*{__${fieldName}__}" class="form-control"/>
            </label>
            <ul>
                <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}" class="text-danger"></li>
            </ul>
        </div>
    </div>
</div>


<div th:fragment="email (fieldName, label)">
    <div class="m-3">
        <div class="form-group row">
            <label >
                <b th:text="${label}"></b>
                <input type="email" th:field="*{__${fieldName}__}" class="form-control"/>
            </label>
            <ul>
                <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}" class="text-danger"></li>
            </ul>
        </div>
    </div>
</div>


<div th:fragment="checkbox (fieldName, label)">
    <div class="m-3">
        <div class="form-group row">
            <label>
                <b th:text="${label}"></b>
                <input type="checkbox" th:field="*{__${fieldName}__}" class="checkbox-inline" style="margin: auto"/>
            </label>
            <ul>
                <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}" class="text-danger"></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="possibleLanguage (fieldName)">
    <div class="m-3">
        <div class="form-group row">
            <table>
                <thead>
                <tr>
                    <th> Language</th>
                    <th> Enabled</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table" th:each="possibleLanguage, index : *{__${fieldName}__.possibleLanguages} ">
                    <td>
                        <!--/*@thymesVar id="possibleLanguage" type="pl.pazurkiewicz.oldtimers_rally.language.LanguageSelectorElement"*/-->
                    <label th:text="${possibleLanguage.language.code}"></label></td>
                    <td>
                        <label>
                            <input type="checkbox"
                                   th:field="*{__${fieldName}__.possibleLanguages[__${index.index}__].accept}">
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:fragment="requiredDescription">
    <b th:text="#{form.required}"></b>
</div>

<div th:fragment="submitButton (title)">
    <button type="submit" class="btn btn-primary" th:text="${title}"></button>
</div>
