<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="site-navbar" role="banner" th:fragment="myNavbar (links)">
    <div class="nav-container">
        <div class="row align-items-center" style="justify-content: end">
            <input type="checkbox" id="hamburger-input" class="burger-shower" />
            <label id="hamburger-menu" class="hamburger" for="hamburger-input">
                <nav id="sidebar-menu">
                    <h3>Menu</h3>
                    <ul class="site-menu js-clone-nav mr-auto">
                        <th:block sec:authorize="isAuthenticated()">
                            <!--                            <li th:if="${#lists.contains(links,'create')}">TODO only admin-->
                            <!--                                <a th:href="@{/rally/create}">-->
                            <!--                                    <span th:text="#{event.create}"></span>-->
                            <!--                                </a>-->
                            <!--                            </li>-->
                            <li th:if="${#lists.contains(links,'edit') and
                            #authorization.expression('hasPermission(#vars.url,''Event'',''ROLE_ORGANIZER'')')}">
                                <a th:href="@{/__${url}__/edit}">
                                    <span th:text="#{event.edit}"></span>
                                </a>
                            </li>
                            <li th:if="${#lists.contains(links,'advanced') and
                            #authorization.expression('hasPermission(#vars.url,''Event'',''ROLE_ORGANIZER'')')}">
                                <a th:href="@{/__${url}__/edit/advanced}">
                                    <span th:text="#{event.edit.advanced}"></span>
                                </a>
                            </li>
                            <li th:if="${#lists.contains(links,'privileges') and
                            #authorization.expression('hasPermission(#vars.url,''Event'',''ROLE_OWNER'')')}">
                                <a th:href="@{/__${url}__/edit/privileges}">
                                    <span th:text="#{user.privileges}"></span>
                                </a>
                            </li>
                            <li th:if="${#lists.contains(links,'crews') and
                            #authorization.expression('hasPermission(#vars.url,''Event'',''ROLE_ORGANIZER'')')}">
                                <a th:href="@{/__${url}__/edit/crews}">
                                    <span th:text="#{crews}"></span>
                                </a>
                            </li>
                            <li th:if="${#lists.contains(links,'competitions') and
                            #authorization.expression('hasPermission(#vars.url,''Event'',''ROLE_ORGANIZER'')')}">
                                <a th:href="@{/__${url}__/edit/competition}">
                                    <span th:text="#{competitions}"></span>
                                </a>
                            </li>
                            <li th:if="${#lists.contains(links,'categories') and
                            #authorization.expression('hasPermission(#vars.url,''Event'',''ROLE_ORGANIZER'')')}">
                                <a th:href="@{/__${url}__/edit/categories}">
                                    <span th:text="#{categories}"></span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/logout}">
                                    <span th:text="#{logout}"></span>
                                </a>
                            </li>
                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                            <li>
                                <a th:href="@{/login}">
                                    <span th:text="#{login}"></span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/register}">
                                    <span th:text="#{register.button}"></span>
                                </a>
                            </li>
                        </th:block>
                        <li>
                            <div class="dropdown">
                                <button class="btn-primary" th:text="#{language}"></button>
                                <div class="dropdown-content">
                                    <!--/*@thymesVar id="l" type="pl.pazurkiewicz.oldtimers_rally.model.Language"*/-->
                                    <a th:each="l : ${languages}" th:href="'?lang='+${l.code}" th:text="${l.code}"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn-primary" th:text="#{contact}"></button>
                                <div class="dropdown-content">
                                    <span th:utext="#{contact.content}"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </label>

            <div class="col-9">
                <h1 class="site-logo"><a class="text-white" th:href="@{/}">
                    OLDTIMERSWEB.COM
                </a></h1>
            </div>
        </div>
    </div>

</header>
</body>

