.crew-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.crew-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.crew-description{
    width: 75%;
    margin: auto;
}
@media (max-width: 800px) {
    .crew-description{
        width: 100%;
    }
}
