.site-navbar {
    margin-bottom: 0;
    z-index: 1999;
    top: 2rem;
}

.nav-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-right {
    text-align: right !important;
}

.position-relative {
    position: relative !important;
}

.site-navbar .site-menu {
    margin-bottom: 0;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.site-navbar .site-menu > li {
    display: inline-block;
}

.site-navbar .site-menu > li > a {
    padding: 10px 0px;
    color: #fff;
    font-size: 16px;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
    width: 100%;
}

.site-navbar .site-logo a{
    text-decoration: unset;
}

.site-navbar h1{
    font-size: 20px;
    text-align: end;
}


.site-navbar .site-menu > li > a > span {
    padding: 5px 20px;
    display: inline-block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border-radius: 30px;
    background-color: #6c757d;
    border: unset;
    color: #e9ecef;
}

.site-navbar .site-menu > li > a > span:hover {
    background-color: black;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#hamburger-input{
    display: none;
}

#hamburger-menu {
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20vw;
    width: 50px;
    height: 50px;
    display: inline;
    border: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(
            to bottom,
            white, white 20%,
            hsla(0, 0%, 0%, 0) 20%, hsla(0, 0%, 0%, 0) 40%,
            white 40%, white 60%,
            hsla(0, 0%, 0%, 0) 60%, hsla(0, 0%, 0%, 0) 80%,
            white 80%, white 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    transition: 0.3s;
    padding: 0 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: white;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 2rem;
    margin: 10px;
}

#hamburger-menu a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}
#hamburger-input:checked ~ .hamburger{
    background: black;
}
@media (max-width: 1200px) {
    #hamburger-menu{
        left: 14vw;
    }
}

@media (max-width: 800px) {
    #hamburger-menu{
        left: 20px;
    }
}
