<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='OLDTIMERSWEB.COM')"></head>
<link rel="stylesheet" th:href="@{/static/css/navbar.css}"/>
<link rel="stylesheet" th:href="@{/static/css/index.css}"/>
<link rel="stylesheet" th:href="@{/static/css/global-settings.css}"/>
<meta charset="utf-8">
<meta name="Description" CONTENT="Platforma webowa, służąca do organizowania międzynarodowych rajdów pojazdów zabytkowych">
<meta name="author" content="Artur Pazurkiewicz, Wojciech Kałuziński">
<link rel="shortcut icon" type="image/x-icon" href="assets/logo.svg" />
<meta name="keywords" content="Oldtimers, Rajd, Zabytek, Rajd pojazdów zabytkowych, oldtimersweb, Samochód, pojazd, wyścigi, konkurencje, jazda na regularność, slalom">
<body>
<div class="container">
    <div th:replace="fragments/navbar :: myNavbar (links=${ {'create'} })"></div>
    <h1 class="title" style="color: red" th:if="${occurred404}" th:text="#{occurred404}"></h1>
    <h1 sec:authorize="isAuthenticated()" class="title" th:text="#{welcomeMessage.login}"></h1>
    <h1 sec:authorize="isAnonymous()" class="title" th:text="#{welcomeMessage.logout}"></h1>

    <div th:each="event : ${events}">
        <div class="card">
            <!--/*@thymesVar id="event" type="pl.pazurkiewicz.oldtimers_rally.model.Event"*/-->
            <img alt="rally" class="card-img-top" th:if="${event.mainPhoto} != null" th:src="${event.mainPhoto}">
            <div class="card-body">
                <h5 class="card-title" th:text="${event.name.getDictionary(#locale)}"></h5>
                <p class="card-text" th:text="${event.description.getDictionary(#locale)}"></p>
                <a class="btn-primary" th:href="@{/__${event.url}__}" th:text="#{checkRally}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
