<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='Welcome page')"></head>

<body>
<H1>TODO</H1>
<div sec:authorize="isAuthenticated()">
    <form class="form-inline" form-method="post" th:action="@{/logout}">
        <button class="btn" type="submit">Logout</button>
    </form>
    <a th:href="@{/rally/create}">Create rally</a>

</div>
<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">Login</a>
</div>
<div>
    <a th:href="@{/register}">Register</a>
</div>
<div>
    <a th:href="@{/rally/create}">Create rally</a>
</div>

<div th:each="event : ${events}">
    <div>
        <a th:href="@{__${event.url}__}" th:text="${event.name.getDictionary(#locale)}"></a>
    </div>
</div>
</body>
</html>
