<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header_fragment :: headerFragment (title='__#{login.page}__')"></head>
<body>
<div class="container text-center">
    <h3 th:text="#{login.please}"></h3>
    <form name="f" th:action="@{/login}" method="post">
        <div class="m-3">
            <div th:if="${param.error}" class="alert alert-error">
                <a th:text="#{login.invalid}"></a>
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                <a th:text="#{login.logout}"></a>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" th:text="#{username}"></label>
                <div class="col-8">
                    <label>
                        <input type="text" id="username" name="username" class="form-control"/>
                    </label>
                </div>

                <label class="col-4 col-form-label" th:text="#{password}"></label>
                <div class="col-8">
                    <label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </label>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" th:text="#{login}" type="submit"></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
