<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title='Create rally')"></head>
<body>
<div class="container text-center">
    <div>
        <h1 th:text="#{signup.h1}"></h1>
    </div>
    <form th:action="@{/register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div th:replace="fragments/form_pieces :: classic (fieldName='login', label='Login:')"></div>
            <div th:replace="fragments/form_pieces :: email (fieldName='email', label='E-mail:')"></div>
            <div th:replace="fragments/form_pieces :: classic (fieldName='firstName', label='First Name:')"></div>
            <div th:replace="fragments/form_pieces :: classic (fieldName='lastName', label='Last Name:')"></div>
            <div th:replace="fragments/form_pieces :: number (fieldName='phone', label='Phone:')"></div>
            <div th:replace="fragments/form_pieces :: password (fieldName='newPassword', label='Password:')"></div>
            <div th:replace="fragments/form_pieces :: checkbox (fieldName='acceptedReg', label='Accepted regulations:')"></div>
            <div th:replace="fragments/form_pieces :: checkbox (fieldName='acceptedRodo', label='Accepted RODO:')"></div>
            <div th:replace="fragments/form_pieces :: submitButton (title='Create')"></div>

        </div>
    </form>
</div>
</body>
</html>
