<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_fragment :: headerFragment (title=#{competition}+' - '+${competitionModel.competition.name.getDictionary(#locale)})"></head>
<script th:src="@{/static/js/jquery.tablednd.js}"></script>

<style>
    .dragHandle:hover {
        cursor: move;
    }
</style>
<link rel="stylesheet" th:href="@{/static/css/global-settings.css}"/>
<link rel="stylesheet" th:href="@{/static/css/event.css}"/>
<link rel="stylesheet" th:href="@{/static/css/login-register.css}"/>
<body>
<!--<div th:replace="fragments/view_fragments :: showRedirections"></div>-->
<div class="container">
    <div class="col-4">
        <h3 class="back-button"><a class="text-white" th:href="@{/__${url}__/edit/competition}" th:text="#{back}"></a>
        </h3>
    </div>
    <div class="">
        <h2 th:text="#{competition}"></h2>
        <form method="post" th:action="@{/__${url}__/edit/competition/__${competitionId}__}"
              th:object="${competitionModel.competition}">
            <table th:replace="fragments/form_pieces :: dictionaryFragment (labels=${ {'__#{label.language}__','__#{label.name}__','__#{label.description}__'} },fieldNames=${ {'name', 'description'} }, languages='competitionModel.languages', fieldTypes=${ {true,false} })"></table>
            <div th:replace="fragments/form_pieces :: number (fieldName='absencePoints', label='__#{competition.absencePoints}__')"></div>
            <div id="BestCategory"
                 th:if="*{type}!=${T(pl.pazurkiewicz.oldtimers_rally.model.CompetitionTypeEnum).COUNTED}">
                <div th:replace="fragments/form_pieces :: number (fieldName='maxRankingPoints', label='__#{competition.maxRankingPoints}__')"></div>
                <div th:replace="fragments/form_pieces :: number (fieldName='numberOfSubsets', label='__#{competition.numberOfSubsets}__')"></div>
            </div>
            <div id="RegularCategory"
                 th:if="*{type}==${T(pl.pazurkiewicz.oldtimers_rally.model.CompetitionTypeEnum).REGULAR_DRIVE}">
                <div th:replace="fragments/form_pieces :: float (fieldName='averageSpeed', label='__#{competition.averageSpeed}__')"></div>
                <div th:replace="fragments/form_pieces :: float (fieldName='distance', label='__#{competition.distance}__')"></div>
            </div>
            <div id="functionCode"
                 th:unless="*{type}==${T(pl.pazurkiewicz.oldtimers_rally.model.CompetitionTypeEnum).REGULAR_DRIVE}">
                <div th:replace="fragments/form_pieces :: classic (fieldName='functionCode', label='__#{competition.function}__')"></div>
                <p th:text="#{competition.type}+' ' + #{${competitionModel.typeEnums.get(competitionModel.competition.type)}}"></p>
                <div th:replace="fragments/form_pieces :: checkbox (fieldName='possibleInvalid', label='__#{competition.possibleInvalid}__')"></div>
                <table class="table" id="fieldTable" th:if="*{fields.size()} > 0">
                    <tr class="nodrop nodrag">
                        <td></td>
                        <td th:text="#{variable}"></td>
                        <td th:text="#{label}"></td>
                        <td th:text="#{type}"></td>
                        <td th:text="#{action}"></td>
                    </tr>
                    <tr class="fieldRow" th:each="field, info : *{fields}" th:id="${field.order}">
                        <input th:field="${competitionModel.competition.fields[__${info.index}__].order}"
                               th:id="'orderId'+${field.order}" type="hidden">
                        <td class="dragHandle">
                            <img alt="drag" th:src="@{/static/assets/drag.svg}"/>
                        </td>
                        <td th:text="${T(pl.pazurkiewicz.oldtimers_rally.service.CalculatorService).variableMapping.get(__${field.order}__)}"></td>
                        <td>
                            <table th:replace="fragments/form_pieces :: dictionaryFragment (labels=${ {'Language','Label'} },fieldNames=${ {'fields[__${info.index}__].label'} }, languages='competitionModel.languages', fieldTypes=${ {true} })"></table>
                        </td>
                        <td>
                            <label>
                                <p th:text="#{type.field}"></p>
                                <select th:field="*{fields[__${info.index}__].type}">
                                    <option th:each="p : ${competitionModel.fieldEnums}"
                                            th:text="#{${p.value}}"
                                            th:value="${p.key}">
                                    </option>
                                </select>
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-primary" name="delete" th:text="#{delete}" th:value="${info.index}"
                                    type="submit"></button>
                        </td>
                    </tr>
                </table>
                <div class="button-row">
                    <button class="btn btn-primary" name="add" th:text="#{add.field}" type="submit"></button>
                </div>
            </div>

            <div class="button-row">
                <button class="btn btn-primary" name="deleteFull" th:text="#{delete.competition}"
                        type="submit"></button>
                <div th:replace="fragments/form_pieces :: submitButton (title='__#{save}__')"></div>
            </div>
        </form>
        <script>
            $(document).ready(function () {
                $("#fieldTable").tableDnD({
                    onDrop: function (table, row) {
                        var rows = table.tBodies[0].rows;
                        for (var i = 1; i < rows.length; i++) {
                            var children = rows[i].children;
                            children[0].value = i - 1
                            children[2].textContent = variableName(i - 1)
                        }
                    },
                    dragHandle: ".dragHandle"
                });
            })

            function variableName(order) {
                switch (order) {
                    case 0:
                        return 'a';
                    case 1:
                        return 'b';
                    case 2:
                        return 'c';
                    case 3:
                        return 'd';
                    case 4:
                        return 'e';
                }
            }
        </script>
    </div>
</div>
</body>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

<script>
    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight + 52) + "px;" + "width: 300px;");
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
    }
</script>
</html>
